<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="influxEndpoint" value="http://localhost:8086/"/>
        <add key="influxDatabase" value="unittest"/>
        <add key="influxUser" value="unittest"/>
        <add key="influxPassword" value="unittest"/>
    </appSettings>
    
    <!-- Need to troubleshoot an SSL issue?  
        Uncomment these lines and set the log path, below -->
    <!-- 
    <system.diagnostics>
        <sources>
            <source name="System.Net" switchValue="All">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>
            <source name="System.Net.Sockets" switchValue="All">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>
            <source name="System.Net.Cache" switchValue="All">
                <listeners>
                    <add name="System.Net"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="System.Net"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="c:\temp\network.log"/>
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>
    -->
</configuration>